
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-image: url('https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1600/900/75/vision-dam/digital/parks-platform/parks-global-assets/disney-world/resorts/disneys-riviera-resort/69248_RIV_Topolinos_0026KP-1-16x9.jpg?2022-03-10T19:23:41+00:00'); /* Đường dẫn của hình nền */
            background-size: cover; /* Kích thước hình nền sẽ che phủ toàn bộ phần tử body */
        }

        h1 {
            color: #333;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
